@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Hero-Technology.css" rel="stylesheet" />
<div class="jumbotron jumbotron-fluid hero-technology" style="height: 676px;">
    <h1 class="hero-title">Know Your Customer</h1>
    <p class="hero-subtitle">KYC Verification</p>
    <p><a class="btn btn-primary btn-lg hero-button" role="button" href="/user/search">Search</a></p>
</div>
